@charset "UTF-8";
@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../assets/fonts/SFProDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter18pt-Regular.woff2") format("woff2"), url("../assets/fonts/Inter18pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter18pt-Medium.woff2") format("woff2"), url("../assets/fonts/Inter18pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter18pt-Bold.woff2") format("woff2"), url("../assets/fonts/Inter18pt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.woff2") format("woff2"), url("../assets/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter18pt-SemiBold.woff2") format("woff2"), url("../assets/fonts/Inter18pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Обнуление стилей */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html, body {
  height: 100%;
}

html {
  font-style: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #171717;
  background-color: #fafaf9;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.mainpage {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1310px;
  padding: 0 15px;
}
@media (max-width: 960.98px) {
  [class*=__container] {
    padding: 0 10px;
  }
}
@media (max-width: 375.98px) {
  [class*=__container] {
    padding: 0 5px;
  }
}

.header__body {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #333;
}
.header__logo {
  z-index: 10;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.header__img {
  width: 60px;
  height: 60px;
}
.header__icon {
  display: none;
}
@media (max-width: 768.98px) {
  .header__icon {
    display: block;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__icon span, .header__icon::before, .header__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .header__icon::before, .header__icon::after {
    content: "";
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}
.header__nav {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 768.98px) {
  .header__nav {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    right: -100%;
    top: 0;
    background-color: #fafaf9;
  }
}
.header__nav._active {
  right: 0;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 768.98px) {
  .menu {
    padding: 30% 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
  }
}
.menu__link {
  font-weight: 400;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link:hover {
  color: #171717;
}

.info__body {
  padding: 20px 0;
}
.info__title {
  font-size: 48px;
  text-align: center;
}
.info__subtitle {
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.slider-block__body {
  padding: 0 0 20px 0;
  border-bottom: 1px solid #333;
}

.swiper {
  width: 100%;
}

.slide {
  padding: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.slide__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.slide__img {
  width: 100%;
}
.slide__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
.slide__cat {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ef8964;
  text-transform: uppercase;
}
.slide__title {
  font-size: 24px;
}
.slide__subtitle {
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.slide__link {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px 15px;
  background-color: #ef8964;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.slide__link:hover {
  background-color: rgb(234.2280701754, 101.8070175439, 53.7719298246);
}
@media (max-width: 960.98px) {
  .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    row-gap: 15px;
  }
  .slide__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 80%;
  }
  .slide__main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slide__link {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.category__body {
  padding: 20px 0;
  border-bottom: 1px solid #333;
}
.category__items {
  padding: 15px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 960.98px) {
  .category__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.category__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  border: 1px solid #333;
  border-radius: 10px;
  overflow: hidden;
}
.category__img {
  width: 100%;
}
.category__info {
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.category__name {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ef8964;
  text-transform: uppercase;
}
.category__link {
  -ms-flex-item-align: center;
      align-self: center;
}
.category__arrow {
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.category__arrow:hover {
  opacity: 0.6;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #ef8964;
  text-transform: uppercase;
}

.articles__body {
  padding: 20px 0;
  border-bottom: 1px solid #333;
}
.articles__items {
  padding: 15px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 960.98px) {
  .articles__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.articles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  border: 1px solid #333;
  border-radius: 8px;
  overflow: hidden;
}
.articles__img {
  width: 100%;
}
.articles__info {
  padding: 0 15px 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.articles__name {
  font-size: 18px;
}
.articles__preview {
  font-size: 14px;
  line-height: 1.5;
}
.articles__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.articles__cat {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #ef8964;
  text-transform: uppercase;
}
.articles__link {
  padding: 10px 15px;
  background-color: #ef8964;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.articles__link:hover {
  background-color: rgb(234.2280701754, 101.8070175439, 53.7719298246);
}

.article__body {
  padding: 20px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #333;
}
.article__image {
  max-width: 600px;
}
.article__img {
  max-width: 100%;
}
.article__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
}
.article__text {
  font-size: 16px;
  line-height: 1.25;
}
.article__cat {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: #ef8964;
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.article__autor {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #ef8964;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__body {
  padding: 20px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
}
@media (max-width: 960.98px) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__logo {
  font-weight: 700;
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.footer__text {
  font-size: 14px;
}
.footer__email {
  font-size: 14px;
  color: #171717;
}