.articles {

		// .articles__container

		&__container {
		}

		// .articles__body

		&__body {
      padding: 20px 0;
      border-bottom: 1px solid $line;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
		}

		// .articles__title

		&__title {
		}

		// .articles__items

		&__items {
      padding: 15px 0;
      display: flex;
      column-gap: 15px;
      row-gap: 15px;
      flex-wrap: wrap;
      @media(max-width: $tablet-w) {
        justify-content: center;
      }
		}

		// .articles__item

		&__item {
      display: flex;
      max-width: 300px;
      flex-direction: column;
      row-gap: 15px;
      border: 1px solid $line;
      border-radius: 8px;
      overflow: hidden;
		}

		// .articles__image

		&__image {
		}

		// .articles__img

		&__img {
      width: 100%;
		}

    &__info {
      padding: 0 15px 10px 15px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    &__name {
      font-size: 18px;
    }

		// .articles__preview

		&__preview {
      font-size: 14px;
      line-height: 1.5;
		}

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__cat {
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: $shape-1;
      text-transform: uppercase;
    }

		// .articles__link

		&__link {
      padding: 10px 15px;
      background-color: $shape-1;
      color: #fff;
      border-radius: 5px;
      font-size: 14px;
      transition: background-color 0.3s;
      &_flex {
        min-width: 200px;
        max-width: 200px;
        text-align: center;
        align-self: center;
      }
      &:hover {
        background-color: darken($shape-1, 10%);
      }
		}
}


