.article {

		// .article__container

		&__container {
		}

		// .article__body

		&__body {
      padding: 20px 0 40px 0;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      align-items: center;
      border-bottom: 1px solid $line;
		}

		// .article__image

		&__image {
      max-width: 600px;
		}

		// .article__img

		&__img {
      max-width: 100%;
		}

		// .article__title

		&__title {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 36px;
		}

		// .article__text

		&__text {
      font-size: 16px;
      line-height: 1.25;
		}

    &__cat {
      font-family: 'Poppins', sans-serif;
      font-size: 10px;
      font-weight: 600;
      color: $text-3;
      text-transform: uppercase;
      align-self: flex-start
    }
    &__autor {
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: $text-3;
      align-self: flex-start
    }
}
