.category {

		// .category__container

		&__container {
		}

		// .category__body

		&__body {
      padding: 20px 0;
      border-bottom: 1px solid $line;
		}

		// .category__title

		&__title {
      font-family: 'Poppins', sans-serif;
      font-size: 24px;
      font-weight: 600;
      color: $shape-1;
      text-transform: uppercase;
		}

		// .category__items

		&__items {
      padding: 15px 0 0 0;
      display: flex;
      column-gap: 15px;
      row-gap: 15px;
      flex-wrap: wrap;
      @media(max-width: $tablet-w) {
        justify-content: center;
      }
		}

		// .category__item

		&__item {
      flex: 0 0 300px;
      border: 1px solid $line;
      border-radius: 10px;
      overflow: hidden;
		}

		// .category__image

		&__image {
		}

		// .category__img

		&__img {
      width: 100%;
		}

		// .category__info

		&__info {
      padding: 20px 10px ;
      display: flex;
      justify-content: space-between;
		}

		// .category__name

		&__name {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: $shape-1;
      text-transform: uppercase;
		}

		// .category__link

		&__link {
      align-self: center;
		}
    &__arrow {
        opacity: 1;
        transition: all 0.3s ease 0s;
        &:hover {
          opacity: 0.6;
        }
    }
}

