.footer {

		// .footer__container

		&__container {
		}

		// .footer__body

		&__body {
      padding: 20px 0 40px 0;
      display: flex;
      justify-content: space-between;
      column-gap: 15px;
      row-gap: 15px;
      @media(max-width: $tablet-w) {
        flex-wrap: wrap;
        justify-content: center;
      }
		}

		// .footer__logo

		&__logo {
			font-weight: 700;
			font-size: 16px;
			color: $text-1;
			text-transform: uppercase;
			text-decoration: none;
			cursor: pointer;
		}
    // .footer__info
    &__info {
      
    }
    // .footer__text
    &__text {
      font-size: 14px;
    }

    &__contacts {

    }

    &__email {
      font-size: 14px;
      color: $text-2;
    }
}
