//размеры
$max-w: 1310px;

$desktop-w: 1280.98px;
$tablet-w: 960.98px;
$phone-w: 375.98px;

//Шрифты
$font-famaly: "Inter", sans-serif;
$second-family: "Poppins", sans-serif;
$third-family: "SF Pro Display", sans-serif;

//цвета
$link: #0070c9;
$bg: #fafaf9;
$text-1: #000;
$text-2: #171717;
$text-3: #ef8964;
$button: #e6533c;
$shape-2: #303030;
$shape-3: #7a29dc;
$shape-seconday-1: #323443;
$shape-seconday-2: #232532;
$shape-seconday-3: #323443;
$shape-seconday-4: #4f5261;
$line: #333;